body {
  font-family:bodoni;
  font-style: bold;
  text-align: center;
  color: #a4fefe;
  margin-top: 40px;
  background-image: url("https://preview.ibb.co/fwiVc5/Beautiful_Golden_Glitter_Background.jpg");
}
li {
  margin-top: 10px;
}
.main-title {
  color: black;
  font-size: 40px;
  padding: 6px 10px 10px 10px;
}
.header {
  background-image: url("http://www.elranchodesalva.com/wp-content/uploads/2015/11/shiny-gold-wavy-texture-abstract-background-header.jpg");
  padding: 5px;
  margin: 1px 1px 50px 1px;
}
.logo {
  display: block;
  margin: auto;
  border-radius: 50%;
  width: 100px;
}
 .flip {
  padding: 5px;
  }
.font-marg{
  font-size: 1.1em;
  margin: 5px 800px 0px 10px;
}
.panel {
  padding: 10px;
  display: none; 
}

.first-p {
  font-size: 1.1em;
  margin: 1px 430px 10px 10px;
  padding: 6px;
}
.first-p__title {
  font-style: bold;
  font-size: 22px;
}
.quote {
  margin: 5px 410px 50px 450px;
  padding: 10px;
}
.info {
  margin: 5px 400px 10px 400px;
  padding: 10px 10px 10px 10px;
}

.bg-img {
  background-image: url("https://preview.ibb.co/nGsGp5/free_strass_vector_gold_glitter_texture_on_black_background.jpg");
}
.bord {
  border: solid 1px gold;
}
.opac {
  opacity: 0.8;
}
#image {
  width: 400px;
  margin-left: 10px;
  float: right;
}
